$light-blue: #607d8b;
$light-blue-40: #607d8b66;
$darker-blue: #8299a3;
$white: #ffffff;
$dark: #202020;
$dark-opaque: #202020cc;
$black: #000000;
$light-gray: #f7f7f7;

.bg-sec {
  background-color: $light-gray;
}
