@include media-sm{
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }
}

@include media-md{
  .row{
    max-width: 850px;
  }
  .col {
    width: 50%;
  }
}

@include media-lg {

}

@include media-xl {

}
