@import 'fonts';
@import 'colors';
@import 'config';
@import 'responsive';
@import 'typography';


.body {
  background-color: $white;
  color: $dark;
}


.btn {
  background-color: $darker-blue;
  color: white;
  font-family: "Oswald";
  text-transform: uppercase;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.hero-title {
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
}

.hero-text {
  font-size: 80px;
  color: $white;
  text-transform: uppercase;
  font-family: "Oswald";
  text-align: center;
  margin: 0;
}

.hero-bar {
  width: 100%;
  height: 14px;
  background-color: $light-blue;
  opacity: 40%;
  border-radius: 10rem;
}

.hero-sub-text {
  color: white;
  font-family: "Roboto";
  text-align: right;
  width: 100%;
  font-size: 1rem;
  margin-top: 0.5rem;
  text-transform: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bar {
  height: 4px;
  background-color: $darker-blue;
  border-radius: 10rem;
  margin: 1rem 2rem;
}

.sec-title {
  font-family: 'Oswald';
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.content {
  // max-width: 80%;
  // width: 100vw;
}

.row {
  display: flex;
  justify-content: center;
// align-items: flex-start;  grid-gap: 1rem;
  margin-bottom: 1.4rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.8rem 0;

  .thumb {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0.4rem $dark;
  }

  .content-title {
    font-family: "Oswald";
    font-size: 2.5rem;
    width: 100%;
  }

  .content-text {
    font-family: "Roboto";
    line-height: 2rem;
    font-size: 1.2rem;

    ul {
      list-style: square;
      list-style-position: inside;

      a {
        text-decoration: none;
        color: $darker-blue;
        transition: all .2s ease-in-out;
      }

      a:hover {
        background-color: $dark;
        transform: scale(1.2);
      }

    }

  }
}
