.roboto_regular_base, .regular_1, .regular_12, .regular_15, .regular_18, .regular_2, .regular_22, .regular_25, .regular_28, .regular_3 {
  font-family: 'Roboto';
  color: #000;
}

.regular_1 {
  font-size: 1rem;
}

.regular_12 {
  font-size: 1.2rem;
}

.regular_15 {
  font-size: 1.5rem;
}

.regular_18 {
  font-size: 1.8rem;
}

.regular_2 {
  font-size: 2rem;
}

.regular_22 {
  font-size: 2.2rem;
}

.regular_25 {
  font-size: 2.5rem;
}

.regular_28 {
  font-size: 2.8rem;
}

.regular_3 {
  font-size: 3rem;
}

.roboto_bold_base, .bold_1, .bold_12, .bold_15, .bold_18, .bold_2, .bold_22, .bold_25, .bold_28, .bold_3 {
  font-family: 'Roboto_Bold';
  color: #000;
}

.bold_1 {
  font-size: 1rem;
}

.bold_12 {
  font-size: 1.2rem;
}

.bold_15 {
  font-size: 1.5rem;
}

.bold_18 {
  font-size: 1.8rem;
}

.bold_2 {
  font-size: 2rem;
}

.bold_22 {
  font-size: 2.2rem;
}

.bold_25 {
  font-size: 2.5rem;
}

.bold_28 {
  font-size: 2.8rem;
}

.bold_3 {
  font-size: 3rem;
}

.roboto_light_base, .light_1, .light_12, .light_15, .light_18, .light_2, .light_22, .light_25, .light_28, .light_3 {
  font-family: 'Roboto_Light';
  color: #000;
}

.light_1 {
  font-size: 1rem;
}

.light_12 {
  font-size: 1.2rem;
}

.light_15 {
  font-size: 1.5rem;
}

.light_18 {
  font-size: 1.8rem;
}

.light_2 {
  font-size: 2rem;
}

.light_22 {
  font-size: 2.2rem;
}

.light_25 {
  font-size: 2.5rem;
}

.light_28 {
  font-size: 2.8rem;
}

.light_3 {
  font-size: 3rem;
}
